<nav class="navbar navbar-expand-lg bg-body-tertiary pl-5 pr-5 pt-0 pb-0">
    <a class="navbar-brand" href="#">
        <img src="../../assets/logo-s.png" alt="netger-logo">
    </a>
    <div class="mobile-header" style="display: none;">
      <a class="nav-link call-style p-2 text-center" style="font-weight: 600; width: 120px;" href="#">
        <i class="fa-solid fa-message pr-2"></i>Teklif alın</a>
      <a class="nav-link call-style2 p-2 text-center" style="font-weight: 600; width: 120px;" href="#"><i class="fa-solid fa-phone pr-2"></i>Ara</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Netger</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body justify-content-end">
          <ul class="navbar-nav large-header" style="height: 85px;">
            <li class="nav-item dropdown h-100 d-flex align-items-center">
                <a id="dropdownMenuButton" class="nav-link pl-3 pr-3 dropdown-toggle h-100 align-items-center d-flex" href="#" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                  Ürünler (Large)
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Okutara</a></li>
                  <li><a class="dropdown-item" href="#">Netger Avukat</a></li>
                  <li><a class="dropdown-item" href="#">Netger Doktor</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown ml-3 h-100 d-flex align-items-center">
                <a class="nav-link dropdown-toggle pl-3 pr-3 h-100 align-items-center d-flex" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Hizmetler
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Dijital Pazarlama</a></li>
                  <li><a class="dropdown-item" href="#">Web Tasarım</a></li>
                  <li><a class="dropdown-item" href="#">Sosyal Medya Danışmanlığı</a></li>
                  <li><a class="dropdown-item" href="#">Mobil Uygulama Geliştirme</a></li>
                  <li><a class="dropdown-item" href="#">Fotoğraf ve Video Çekimi</a></li>
                </ul>
            </li>
            <li class="nav-item ml-3 h-100 d-flex align-items-center">
              <a class="nav-link pl-3 pr-3 h-100 align-items-center d-flex" href="#">Logoger</a>
            </li>
            <li class="nav-item ml-3 h-100 d-flex align-items-center">
              <a class="nav-link pl-3 pr-3 h-100 align-items-center d-flex" href="#">Kurumsal Web Tasarımı</a>
            </li>
            <li class="nav-item ml-3 h-100 d-flex align-items-center">
                <a class="nav-link pl-3 pr-3 h-100 align-items-center d-flex" href="#">Referanslar</a>
            </li>
            <li class="nav-item ml-3 h-100 d-flex align-items-center">
                <a class="nav-link call-style p-2 text-center" style="font-weight: 600;" href="#"><i class="fa-solid fa-phone pr-2"></i>Sizi arayalım</a>
            </li>
          </ul>

          <ul class="navbar-nav small-header large-header pl-4">
            <li class="nav-item">
                <div class="m-0 w-100">
                  <div class="row fw-semibold fs-5" style="color: black;">Logoger</div>
                  <div class="row fw-light mt-1" style="color: #744210;">Logo tasarlamada kurumsal kimlik</div>
                </div>
            </li>
            <li class="nav-item mt-4">
              <div class="m-0 w-100">
                <div class="row fw-semibold fs-5" style="color: black;">Ürünler</div>
                <div class="row fw-light mt-1" style="color: #744210;">Okutara, Netger Avukat, Netger Doktor</div>
              </div>
            </li>
            <li class="nav-item mt-4 w-100">
              <div class="m-0 w-100">
                <div class="row fw-semibold fs-5" style="color: black;">Hizmetler</div>
                <div class="row fw-light mt-1 w-100" style="color: #744210;">Dijital Pazarlama, Web Tasarım, Sosyal Medya Danışmanlığı, Mobil Uygulama Geliştirme, Fotoğraf ve Video Çekimi</div>
              </div>
            </li>
            <li class="nav-item mt-4 w-100">
              <div class="m-0 w-100">
                <div class="row fw-semibold fs-5" style="color: black;">Referanslar</div>
              </div>
            </li>
            <li class="nav-item mt-4 w-100">
              <div class="m-0 w-100">
                <div class="row fw-semibold fs-5" style="color: black;">Blog</div>
              </div>
            </li>
            <li class="nav-item mt-4 w-100">
              <div class="m-0 w-100">
                <div class="row fw-semibold fs-5" style="color: black;">Kurumsal</div>
              </div>
            </li>
            <li class="nav-item mt-4 w-100">
              <div class="m-0 w-100">
                <div class="row fw-semibold fs-5" style="color: black;">İletişim</div>
              </div>
            </li>
            <div class="mt-5">
              <li class="nav-item mt-5 w-100">
                <div class="m-0 w-100">
                  <div class="row fw-medium" style="color: #744210;">Kampanyalar</div>
                </div>
              </li>
              <li class="nav-item mt-5 w-100">
                <div class="m-0 w-100">
                  <div class="row fw-medium" style="color: #744210;">İnsan Kaynakları</div>
                </div>
              </li>
              <li class="nav-item mt-5 w-100">
                <div class="m-0 w-100">
                  <div class="row fw-medium" style="color: #744210;">Fatura Ödeme</div>
                </div>
              </li>
              <li class="mt-5 w-100" style="background-color: #f6e05e;">
                <div class="container">
                  <a href="#">0212 951 02 25</a>
                </div>
              </li>
            </div>
          </ul>
        </div>
      </div>
  </nav>