@media (max-width: 991px) {
    .mobile-header {
        display: flex !important;
        font-size: 13px;
    }

    .offcanvas {
        background-color: #ecc94b;
        width: 100%;
    }

    .offcanvas-title {
        display: none;
    }
    .navbar {
        width: 100%;
    }

    .large-header {
        display: none;
    }

    .small-header {
        display: block;
    }
}

@media (max-width:1144px) {
    .navbar {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

@media (max-width:1044px) {

    .navbar {
        height: 70px !important;
    }

    .navbar-brand img {
        width: 90px;
    }

    .offcanvas-body {
        font-size: 13px;
    }
}

@media (min-width: 991px) {
    .small-header {
        display: none;
    }
}

@media (max-width: 1088px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        padding-right: 5px !important;
        padding-left: 5px !important;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .mobile-header {
        display: block !important;
    }
    .call-style, .call-style2 {
        width: 50px !important;
        font-size: 10px !important;
        margin-top: 5px;
    }
}

@media (max-width: 770px) {
    .mobile-header {
        font-size: 12px;
    }

    .call-style, .call-style2 {
        width: 100px !important;
    }

    .navbar {
        padding-left: 10px !important;
        padding-right: 10px !important;
        width: 100%;
    }
}

.navbar {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 85px;
    color: rgb(74, 85, 104);;
}
.call-style {
    background-color: rgb(246, 224, 94);
    color: rgb(116, 66, 16);
    border-radius: 30px;
}

.call-style2 {
    background-color: rgb(56, 161, 105);
    color: rgb(240, 255, 244);
    border-radius: 30px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.nav-link:hover {
    background-color: rgb(246, 224, 94);
}

.dropdown-menu {
    border: none;
    border-top-left-radius: 0;
    padding: 0 0 0 0;
    min-width: 200px;
}

.dropdown-item:hover {
    background-color: rgba(246, 224, 94, 0.3);
}