.disDiv {
    position: relative; /* .disDiv'i relative olarak ayarla */
    width: 100%; /* Genişliği ayarla */
    height: auto; /* Yüksekliği otomatik olarak ayarla */
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
    width: 80%; /* Overlay'in genişliğini ayarla */
    box-sizing: border-box; /* padding ve border'ı içeri alır */
}

.overlay h1 {
    margin: 0;
}
