<div class="">
    <div class="row no-gutters">
      <div class="col">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div>
            <img src="../../assets/netger.jpg" class="img-fluid" alt="Responsive Image">
          </div>
          <div class="text-center">
            <h1>Dijital hayaller şimdi gerçekler!</h1>
            Netger dijital reklam ajansı işinizi büyütmeniz ve geliştirmeniz için dijital çözümler üretir.
          </div>
        </div>
      </div>
    </div>
  </div>
  