<div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col">
        <div class="d-flex justify-content-center align-items-center h-100">
          <img src="../../assets/netger.jpg" class="img-fluid" alt="Responsive Image">
          <div class="text-center">
            <h1>Dijital hayaller şimdi gerçekler!</h1>
            <h5>Netger dijital reklam ajansı işinizi büyütmeniz ve geliştirmeniz için dijital çözümler üretir.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  